/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
*{
  font-family: 'Poppins', sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  font-weight: 600;
}

.navbar-container>div img {
  max-width: 120px;
}

.navbar-container div:nth-child(2) ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar-container div:nth-child(2) ul li {
  border-bottom: 3px solid #fff;
  cursor: pointer;
}


.navbar-container div:nth-child(2) ul li:hover {
  border-bottom: 3px solid #000;
}

.navbar-container div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navbar-container div:nth-child(3) .search-icon svg{
  display: flex;
    max-width: 26px;
    justify-content: center;
    align-items: center;
}

.navbar-container div:nth-child(3) .search-icon{
  position: relative;
}


button {
  background-color: transparent;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 17px;
  padding: 5px 35px;
  cursor: pointer;
  color: #646464;
}

button:hover {
  background-color: transparent;
  color: #000;
}

.hero-container {
  padding: 50px 100px 100px 100px;
}

.hero-container > span:nth-child(1) {
  position: absolute;
  top: 317px;
  left: 181px;
}

.hero-container .square img {
  width: 350px;
}

/* .hero-container div>span:nth-child(2) {
  position: absolute;
  right: 90px;
} */

.hero-container .globe {
  position: absolute;
  left: 50%;
  top: 100px;
}

.hero-container .globe img {
  width: 50px;
}

.hero-container div>img {
  position: absolute;
  width: 350px;
}

.hero-container .hero-container-right {
  max-width: 65%;
  position: relative;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container .hero-container-right .hero-heading {
  font-family: 'Orbitron', sans-serif;
  font-size: 63px;
}

.hero-container .hero-container-right .hero-description {
  max-width: 70%;
    font-size: 12px;
    text-align: center;
    margin-bottom: 100px;
}

.hero-container .hero-container-right .button-join {
  background-color: #000;
  color: #fff;
  padding: 5px 5px
}

.hero-container .hero-container-right .button-join:hover {
  background-color: #fff;
  color: #000;
}

.hero-container .hero-container-right button {
  font-family: 'Orbitron', sans-serif;
}

.hero-container .hero-container-right div:nth-child(2) .icon span img{
  padding-right: 200px;
}

.hero-container > span:nth-child(2){
  position: absolute;
  top: 147px;
  right: 118px;
}

.hero-container > span:nth-child(2) img{
  width: 50px;
}

.hero-container > span:nth-child(3){
  position: absolute;
  left: 575px;
  top: 583px;
}

.hero-container > span:nth-child(3) img{
  width: 50px;
}

.contact-heading {
  color: #646464;
  font-weight: 500;
}

.hero-container-right > div:nth-of-type(2){
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.hero-container-right > div:nth-of-type(2) img {
  width: 35px;
}